body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(1, 1, 19, 0.932);
  color: silver;
}

* {
  padding: 0%;
  margin: 0%;
}

:root {
  font-size: 67.5%;
  padding: 0%;
  margin: 0%;
}

h1 {
  text-align: center;
  color: rgba(192, 192, 192, 0.952);
  font-size: 3rem;
  border-bottom-style: solid;
  border-radius: 0% 0% 10% 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h2 {
  color: white;
}

h3 {
  color: silver;
  font-size: 2.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.3rem;
}

nav {
  margin-left: 10%;
}

nav li {
  text-align: center;
  margin-top: 10%;
  border-style: inset;
  color: silver;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8rem;
  white-space: pre-wrap;
  color: rgba(255, 255, 255, 0.836);
}

span {
  color: black;
}

.buttons {
  margin: 0% 0% 0% 0%;
  padding: 8% 0% 8% 0%;
  border-style: none;
  border-style: groove;
  border: 2px solid #d2bdff;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: #161624;
}

.buttons:hover {
  top: 41%;
  left: 50%;
  -webkit-transform: scaleX(110%);
          transform: scaleX(110%);
  background-color: teal;
  color: #ebe5f8;
  -webkit-transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* ---- DIV ----  */
.iconsRow {
  margin-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerWrapper {
  /* background-image: url("C:/Users/Victor/Documents/PROGRAMMING/CV/victor-cv/src/Image/header-image.png");*/
  background-size: cover;
  background-color: #000013;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.headerWrapper .profilePic {
  margin: 0% 0% 0% 0%;
  min-width: 19rem;
  width: 96%;
  height: auto;
}

.headerWrapper .profileName {
  font-size: 2.5rem;
  margin: 0% 0% 1.5% 0%;
  padding: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom-style: ridge;
  border-radius: 0% 0% 10% 30%;
  border-color: #505c7e;
}

.headerWrapper .headContainer2 {
  margin-right: 5%;
  margin-left: 0%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerWrapper .headContainer2 .aboutMeHeader {
  margin: 0% 0% 8% 9rem;
}

.bodyWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 78%;
      grid-template-columns: 22% 78%;
}

.bodyWrapper .bodyContainer1 {
  margin: 10% 0% 0% 0%;
  position: -webkit-sticky;
  position: sticky;
}

.bodyWrapper .bodyContainer1 .contactsWrapper {
  text-align: center;
  margin: 15% 0% 0% 10%;
  background-color: #000013;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.01cm;
  padding: 4% 5% 4% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}

.bodyWrapper .bodyContainer1 .contactsWrapper .contactContainer {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(71, 83, 194, 0.884);
  border-radius: 6%;
  border-style: groove;
  padding: 0% 20% 0% 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyWrapper .bodyContainer1 .contactsWrapper .contactContainer:hover {
  background-color: white;
}

.bodyWrapper .bodyContainer1 .contactsWrapper .contactContainer .contactIcon {
  width: 10%;
  margin-right: 2%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bodyWrapper .bodyContainer2 {
  margin: 2.8% 2% 2% 0.5%;
  text-align: justify;
  background-color: rgba(62, 70, 112, 0.733);
  border-style: groove;
  border-width: 0.09cm;
  border-radius: 1%;
  padding: 2%;
}

.bodyWrapper .bodyContainer2 .sessionContainer {
  margin-bottom: 3%;
}

.bodyWrapper .bodyContainer2 .sessionContainer .aboutIcon {
  margin-right: 1rem;
}

.bodyWrapper .bodyContainer2 .sessionContainer .oneSoulAppImage {
  float: right;
  width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  shape-outside: circle(90%);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 4%;
}

.bodyWrapper .bodyContainer2 .sessionContainer iframe {
  border-radius: 5%;
  width: 50%;
  min-width: 23rem;
}

/* --- ACROSS WRAPS ---- */
.toolIcon {
  margin: 1% 2% 3% 0%;
  width: 10%;
}
/*# sourceMappingURL=App.css.map */